/*             선택자에 따라서 그리고 우선순위             */

selector {
  property: value;
}

*{
  color: green;
}

li{
  color: blue;
}

li#special{
    color: brown !important;
}

#special{
    color: pink;
}

button:hover{
    color: red;
    background-color: beige;
}

a[href]{
    color:purple;
}

/* ^ : href^="naver" 사용시 하이퍼텍스트 naver로 시작하는 것 전부
   $ : href$="naver" 사용시 중간에 naver들어가면 전부
*/

a[href="naver.com"]{
    color : skyblue;
}


/*                padding과 margin 적용                */

.red{
    width:100px;
    height:100px;
    padding: 20px;
    margin: 10px;
    background-color: yellow;

}