div, span{
    width: 80px;
    height: 80px;
    margin: 20px;
    background-color: pink;
}

div{
    background:red;
}

span{
    background: blue;
}

.container{
    background: yellow;
    left: 20px;
    top: 20px;
    position: relative;
}

.box{
    background: blue;
    left: 20px;
    top: 20px;
    position: relative;
}

.box{
    background: blue;
    left: 20px;
    top: 20px;
    position: absolute;
}