body{
    height: 100%;
}

.container{
    background-color: beige;
    height: 100vh;
    
    display:flex;/*flex(block요소로 컨테이너가 수직으로 쌓인다)   inline-flex(컨테이너가 수평으로 쌓인다)*/

    /*맨 앞에 사용한게 보통 기본값*/
    flex-wrap: nowrap; /*여려 줄 묶음을 설정한다.   wrap , wrap-reverse*/
    flex-direction: row; /* 주축을 설정한다.       row(가로축), row-reverse, column(세로축), column-reverse*/
    flex-flow: column nowrap; /*위에 나온 wrap과 direction을 한번해 설정가능 */


    justify-content: flex-start; /* Main Axis(중심축)에서 정렬 방법을 설정한다.
    flex-end(순서는 그대로 reverse랑 다름) , 
    center, 
    space-around(모든 item에 빈 공간 주는 느낌 따라서 시작 끝은 사이공간의 절반) , 
    space-evenly(모든 item, 처음, 끝 사이공간 같음), 
    space-between(처음 끝 사이공간 없고 아이템 사이만 공간 줌)*/
    
    align-content: stretch; /*교차축 기준 정렬 방법을 설정한다. (여러줄이고 여백이 있을 경우에만 사용할 수 있다.)
    stretch는 교차축에 해당되는 너비를 채우기 위해서 늘어난다.
    flex-start, flex-end, center, space-around,  space-between 
    
    */ 
    
    align-items: stretch; /*Cross Axis(교차축)에서 items 정렬 방법 설정하기
    주의할점은 flex-wrap을 통해 여러줄일 경우 align-content 속성을 우선시한다.
    그리고 align-content의 속성을 기본값(stretch)여야 된다.


    baseline은 문자 기준선에 정렬로 일자로 균등하게 보이도록 배치된다
    flex-start, flex-end, center, 
    */
    
    

 }

.item{
     width: 40px;
     height: 40px;
     border: 1px solid black;
}

.item1{
    background: #ef9a9a;

    flex-grow: 0;     /*  증가너비 : 컨테이너를 채우려고 한다. 안의 숫자는 빈공간을 채우는 비율이다.*/
    flex-shrink: 1;   /*  감소너비 : 컨테이너가 작아졌을 때 작아지는 비율*/
    flex-basis: auto; /*  기본너비 : Item(공간배분 전)의 기본 너비를 설정한다.
                          단위(px,em,cm)로 지정된 경우 item의 기본너비가 정해진다.
    */ 
    
    flex: 1 1 20px; /*증가너비 감소너비 기본너비  단위를 사용시 기본너비가 적용된다.*/
    
    align-self: auto; /*교차축에서 개별 아이템 정렬방법을 설정한다. align-item 속성보다 우선한다.
    
    stretch, flex-start, flex-end, center, baseline
    
    
    */

}

.item2{
    background:#f48fb1;
}

.item3{
    background:#ce93d8;
}

.item4{
    background: #b39ddb;
}

.item5{
    background: #9fa8da;
}

.item6{
    background: #90caf9;
}

.item7{
    background: #80deea;
}

.item8{
    background: #80cbc4;
}

.item9{
    background: #a5d6a7;
}

.item10{
    background: #ffab91;
}