body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.youtube_logo {
  height: 20px;
}

.search_bar {
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search_input {
  width: 100%;
  font-size: inherit;
  padding: 0.4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search_button {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #f8f8f8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search_button:hover {
  background-color: #f0f0f0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.5rem;
}

.menu_user_icon_img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}

/* main */

.video_box {
  display: flex;
  flex-direction: column;
}
.thumbnail {
  display: flex;
  position: relative;
}

.video_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px 10px; /*비디오 사이 간격*/
  padding: 10px 0;
  margin: 0 15px;
  border-top: 4px solid #ccc;
}

.video_section:first-child {
  border-top: none;
}

.thumbnail_image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
}

.video_bottom_description {
  display: flex;
  align-items: flex-start;
  margin-top: 1px;
}

.video_detail {
  display: flex;
  flex-direction: column;
}

.video_title {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: black;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 2.4em;
}

.video_channel_name {
  text-decoration: none;
  color: grey;
}

.video_channel_name:hover {
  color: black;
}

.video_data {
  color: grey;
}

.videos {
  background-color: #f9f9f9;
}

.categories {
  padding: 1rem 2rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.category_section {
  display: flex;
  overflow: hidden;
}

.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}

.catergory:hover {
  background-color: #ddd;
}

.category.active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}

.categroy:last-child {
  margin-right: 0;
}
